.container {
    position: relative;
}
.phone-bg {
    width: 100%;          
}
.desktop-bg {
    width: 100%;
    display: none;      
}
.welcome-message {
    width: 70%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px; 
    font-size: 40px;
    color: black;
    font-family: 'Time new Roman';
    font-weight: bold;
    margin-top: 10%;
    padding-top: 18px;
    padding-bottom: 5px;
    text-align: center;
}
.input-container {
    margin-top: 35%;
    position: absolute;
    top: 390px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.input-container input[type="text"] {
    width: 100%;
    height: 50px;
    background-color: rgb(200, 208, 228);
    border: none;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px 0px 0px 5px;
    font-size: 20px;
    transition: background-color 0.3s ease;
}
.input-container select {
    height: 50px;
    font-size: 15px;
    background-color: rgb(200, 208, 228);
    border: none;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}
.input-container input[type="text"]::placeholder {
    font-size: 18px;
}
.background-color {
    color: black;
    text-align: start;
    font-size: 20px;
    margin-bottom: 2px;
    margin-top: 10px;
}

.btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.btn-container button {
    padding: 10px 30px;
    font-size: 18px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: space-between;
}
.reset-btn {
    background-color: rgb(209, 51, 51);
    color: white;
}
.done-btn {
    background-color: rgb(70, 230, 70);
    color: white;
}
.preview-container {
    overflow: hidden;
    position: absolute;
    top: -45%;
    left: 0%;
    width: 100%;
    z-index: 1;
    border-radius: 15px;
}
.preview-text {
    text-align: center;
    width: 100%;
    height: 150px;
    font-size: 100px;
    font-family: monospace;
    font-weight: bold;
    white-space: nowrap;
    animation: scrollLeftToRight 5s linear infinite;
}
@keyframes scrollLeftToRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.input-emoji{
    display: flex;
}
.emoji{
    border: none;
    background-color: rgb(200, 208, 228);
    width: 45px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}
.emoji:hover{
    color: gray;
}
.emoji-list{
    background-color: rgb(200, 208, 228);
    font-size: 24px;
    border-radius: 0px 5px 5px 0px;
    overflow-y: scroll;
    cursor: pointer;
    transition: 0.5s height;
    display: none;
    position: absolute;
    top: 10%;
    height: 100px;
    text-align: left;
}
#emoji-list span:hover{
    background-color: rgb(159, 158, 158);
}

@media only screen and (min-width: 640px) {
    .phone-bg {
        display: none;
        visibility: hidden;
    }
    .desktop-bg {
        display: block;
        visibility: visible;
    }
    .welcome-message {
        width: 85%;
        top: 5%;
        height: 50px;
        font-size: 50px;
    }
    .background-color{
       
        font-size: 23px;
        padding: 10px;
    }
    .input-container {
        top: 200px;
        width: 70%;
    }
    .input-emoji{
        margin-top: 40px;
        font-size: 25px;
    }
    .emoji-list{
        font-size: 27px;
        top: 23%;
        height: 150px;
        text-align: left;
    }
    .input-container input[type="text"] {
        font-size: 25px;
    }

    .input-container select {
        height: 50px;
        font-size: 20px;
        background-color: rgb(200, 208, 228);
        border: none;
        outline: none;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 5px;
    }
    .preview-text {
        text-align: center;
        width:100% ;
        height:150px;
        font-size: 100px;
        font-family: monospace;
        font-weight: bold;
        white-space: nowrap;
        animation: scrollLeftToRight 1s linear infinite;
    }
    #color-text {
        width: 45%;
    }
    #Text-Font {
        width: 45%;
        margin-left: 55%;
    }
    .background-color#text_font_responsive {
        margin-top: -100px;
        margin-left: 55%;
    }
    body, html {
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        background: black;
    }
    canvas {
        display: block;
    }
}
