.frame {
    background-color: white;
}

#textCanvas {
    height: 580px;
    width: 100%;
    position: absolute;
    z-index: 3;
    border: 1px solid black;
    visibility: hidden;
}
#snowCanvas{
    position: absolute;
    z-index: 1;
}
#rainCanvas{
    position: absolute;
    z-index: 1;
}
#fireworkCanvas{
    position: absolute;
    z-index: 1;
}
#bubbleCanvas{
    position: absolute;
    z-index: 1;
}
h1 {
    text-align: center;
    font-size: 25px;
    font-family: "Courier New", Courier, monospace;
}

.textWrap {
    align-items: center;
    height: 300px;
    background-color: lightskyblue;
    border-radius: 20px;
    border: 2px solid black;
    border-bottom: 3px solid black;
    margin-left: 20px;
    margin-right: 20px;
}
.displayContainer.expanded {
    height: 100vh;
    width: 100vw;
    margin-top: -10px;
    margin-left: -28px;
    border-radius: 5px;

}

.displayContainer {
    align-items: center;
    height: 220px;
    background-color: black;
    border-radius: 20px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.displayContainer img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: none;
    z-index: 0;
}
#displayGif{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: none;
    z-index: 0;
}
.displayText {
    position: absolute;
    color: white;
    animation: loopText 2.5s infinite linear, blink 1s infinite linear;
    z-index: 10; /* Ensure this is higher than any other element inside .displayContainer */
}


@keyframes loopText {
from {
transform: translateX(100%);
}
to {
transform: translateX(-200%);
}
}

@keyframes blink {
0%, 100% {
opacity: 1;
}
50% {
opacity: 0;
}
}

.inputText {
height: 70px;
background-color: lightskyblue;
border-radius: 20px;
display: flex;
align-items: center;
}

#insertText {
width: 100%;
height: 46px;
border-radius: 20px 0px 0px 20px;
border: 2px solid black;
margin-left: 10px;
border-right: none;
font-size: large;
}

#emojiBtn {
width: 50px;
height: 50px;
color: black;
background: none;
background-color: white;
border-left: 2px;
border-right: 2px;
cursor: pointer;
}
#emojiBtn:hover {
    color: rgb(159, 158, 158);
}
.emoji-list {
background-color: rgb(200, 208, 228);
font-size: 24px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
overflow-y: scroll;
cursor: pointer;
transition: 0.5s height;
display: none;
position: absolute;
margin-top: 250px;
height: 200px;
text-align: left;
width: 67%;
margin-left: 5%;
}

#emoji-list span:hover {
background-color: rgb(159, 158, 158);
}

#nextBtn {
width: 120px;
height: 50px;
color: white;
font-size: normal;
font-weight: bold;
background: none;
background-color: #2EE22A;
border: 2px solid black;
border-left: none;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
margin-right: 10px;
cursor: pointer;
}
#nextBtn:hover {
    color: rgb(159, 158, 158);
}
.editorContainer {
margin-top: 10px;
height: 540px;
background-color: white;
border-radius: 20px;
border: 2px solid black;
}

.editorChoice {
height: 70px;
background-color: rgb(135, 206, 250);
border-radius: 20px;
border-bottom: 2px solid black;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
display: flex;
flex-direction: row;
justify-content: space-around;
}

.editorChoice button {
border: none;
background-color: transparent;
font-size: 20px;
cursor: pointer;
width: 100%;
}

#editorText {
border-top-left-radius: 20px;
}

#editorBg {
border-top-right-radius: 20px;
}

.textContent {
height: 100%;
margin-right: 20px;
margin-left: 20px;
margin-top: 20px;
display: flex;
flex-direction: column;
gap: 1%;
}

span {
color: black;
font-size: 20px;
}

#fontChooser {
margin-top: 10px;
width: 200px;
height: 50px;
margin-top: 10px;
margin-bottom: 10px;
font-size: large;
border-radius: 10px;
}

.size-Btn button {
width: 40px;
height: 40px;
border-radius: 100%;
margin-right: 10px;
margin-top: 10px;
margin-bottom: 10px;
border: none;
background-color: gainsboro;
font-size: medium;
cursor: pointer;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#size25:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#size50:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#size75:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#size100:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.colorText-Btn button {
width: 40px;
height: 40px;
border-radius: 100%;
margin-right: 10px;
margin-top: 10px;
margin-bottom: 10px;
border: none;
font-size: medium;
cursor: pointer;

}

#colorTBlack {
background-color: black;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#colorTBlack:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

#colorTWhite {
background-color: white;
border: 1px solid black;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#colorTWhite:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

#colorTRed {
background-color: red;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#colorTRed:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

#colorTYellow {
background-color: rgb(249, 213, 104);
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#colorTYellow:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

#colorTGreen {
background-color: greenyellow;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#colorTGreen:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

#colorTMix {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background-color: transparent;
width: 48px;
height: 50px;
margin-right: 10px;
border: none;
border-radius: 100%;
cursor: pointer;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#colorTMix::-webkit-color-swatch{
border-radius: 100%;
}
#colorTMix::-moz-color-swatch{
border-radius: 100%;
}
#colorTMix:hover {
    background-color: transparent;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

/* This is where we control on switch or toggle */
.switch {
position: relative;
display: inline-block;
margin-top: 20px;
margin-bottom: 10px;
top: -8px;
width: 60px;
height: 30px;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: 0.4s;
transition: 0.4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 2px;
background-color: white;
-webkit-transition: 0.4s;
transition: 0.4s;
}

input:checked + .slider {
background-color: #2196f3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

/* end of switch */
.effectContent {
height: 100%;
margin-right: 20px;
margin-left: 20px;
margin-top: 20px;
display: flex;
flex-direction: column;
gap: 1%;
display: none;
}
.anime-Btn button {
width: 40px;
height: 40px;
border-radius: 100%;
margin-right: 10px;
margin-top: 10px;
margin-bottom: 10px;
border: none;
font-size: medium;
cursor: pointer;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#leftAnime:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#stopAnime:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#rightAnime:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#up-downAnime:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.speed-Btn button {
width: 40px;
height: 40px;
border-radius: 100%;
margin-right: 10px;
margin-bottom: 10px;
border: none;
font-size: medium;
cursor: pointer;
margin-top: 10px;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.speed5:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#speed1:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#speed2:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.speed15:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#none-speed:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.blink-Btn button {
width: 40px;
height: 40px;
border-radius: 100%;
margin-right: 10px;
margin-bottom: 10px;
border: none;
font-size: medium;
cursor: pointer;
margin-top: 10px;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#none-blink{
/* position: absolute; */
font-size: xx-small;
}
.blink5:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#blink1:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#blink2:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.blink15:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#none-blink:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.filter-Btn button {
width: 40px;
height: 40px;
border-radius: 100%;
margin-right: 10px;
margin-bottom: 10px;
border: none;
font-size: medium;
cursor: pointer;
margin-top: 10px;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#none-filter:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.threeD:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#metallicBtn:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#fireBtn:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#neonlight:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.bgContent {
height: 100%;
margin-right: 20px;
margin-left: 20px;
margin-top: 20px;
display: flex;
flex-direction: column;
gap: 1%;
display: none;
}

.img-Btn button {
width: 40px;
height: 40px;
border-radius: 100%;
margin-right: 10px;
margin-top: 10px;
margin-bottom: 10px;
border: none;
font-size: medium;
cursor: pointer;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#none-img:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#img1:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#img2:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#img3:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#img4:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#img5:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#img6:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#img7:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#img8:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#img9:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.bgf-Btn button {
width: 40px;
height: 40px;
border-radius: 100%;
margin-right: 10px;
margin-top: 10px;
margin-bottom: 10px;
border: none;
font-size: medium;
cursor: pointer;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#none-bgf:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#bgf1:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#bgf2:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#bgf3:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#bgf4:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#bgf5:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#bgf6:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#bgf7:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#bgf8:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#bgf9:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#bgf10:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

#bgf11:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    
}
#bgf12:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#bgf13:hover{
    background-color: gray;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.color-Btn button {
width: 40px;
height: 40px;
border-radius: 100%;
margin-right: 10px;
margin-top: 10px;
margin-bottom: 10px;
border: none;
font-size: medium;
cursor: pointer;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#colorBlack {
background-color: black;
}
#colorBlack:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

#colorWhite {
background-color: white;
border: 1px solid black;
}
#colorWhite:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#colorRed {
background-color: red;
}
#colorRed:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#colorYellow {
background-color: rgb(249, 213, 104);
}
#colorYellow:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#colorGreen {
background-color: greenyellow;
}
#colorGreen:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#colorMix {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background-color: transparent;
width: 48px;
height: 50px;
border-radius: 100%;
margin-right: 10px;
border: none;
cursor: pointer;
}
#colorMix::-webkit-color-swatch{
border-radius: 100%;
}
#colorMix::-moz-color-swatch{
border-radius: 100%;
}
#colorMix:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
@keyframes blink {
0%, 100% {
opacity: 1;
}
50% {
opacity: 0;
}
}

@keyframes slideLeft {
0% { transform: translateX(100%); }
100% { transform: translateX(-100%); }
}

@keyframes slideRight {
0% { transform: translateX(-100%); }
100% { transform: translateX(100%); }
}

@keyframes upDown {
0% { transform: translateY(50%); }
50% { transform: translateY(-50%); }
100% { transform: translateY(50%); }
}
.raleway-dots-regular {
    font-family: "Raleway Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  @media only screen and (min-width: 640px) {
    h1{
        font-size: 50px;
    }
    .textWrap{
        height: 400px;
    }
    .displayContainer{
        height: 320px;
    }
    .ContentContainer{
        display: flex;
        flex-direction: row;
    }
    .editorChoice{
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    #editorText{
        width: 57%;
    }
    #editorEffect{
        width: 75%;
    }
    #editorBg{
        width: 74%;
    }
    .textContent{
        margin-left: 15px;
        display: block;
        margin-top: 0px;
        width: 40%;
        height: 490px;
        border-right: 1px solid black;
    }
    .Font{
        margin-top: 20px;
    }
    .effectContent{
        margin-left: 0px;
        display: block;
        margin-top: 0px;
        width: 55%;
        height: 490px;
        border-right: 1px solid black;
    }
    .Animation{
        margin-top: 20px;
    }
    .bgContent{
        margin-left: 0px;
        display: block;
        margin-top: 0px;
        width: 50%;
        height: 490px;
    }
    .color-btn{
        margin-top: 20px;
    }
    #nextBtn{
        font-size: large;
    }

  }