body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

#fireworksCanvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
